openapi: 3.0.0
info:
  title: API Agenda Massoterapia
  description: Documentação da API de Agendamento de Clientes para Massoterapia (Firestore)
  version: 1.0.0
servers:
  - url: https://firestore.googleapis.com/v1/projects/{projectId}/databases/(default)/documents
    description: Firebase Firestore REST API
    variables:
      projectId:
        default: agenda-massoterapia-tcc

paths:
  /usuarios:
    get:
      summary: Lista usuarios
      tags: [Usuarios]
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Usuario'

  /usuarios/{email_normalizado}/perfil/cliente:
    get:
      summary: Consulta perfil de cliente por usuario
      tags: [Usuarios]
      parameters:
        - in: path
          name: email_normalizado
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Perfil retornado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PerfilCliente'
    patch:
      summary: Atualiza perfil de cliente
      tags: [Usuarios]
      parameters:
        - in: path
          name: email_normalizado
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PerfilCliente'
      responses:
        '200':
          description: Perfil atualizado

  /agendamentos:
    get:
      summary: Lista agendamentos
      tags: [Agendamentos]
      responses:
        '200':
          description: Lista de agendamentos
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Agendamento'
    post:
      summary: Cria um novo agendamento
      tags: [Agendamentos]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Agendamento'
      responses:
        '201':
          description: Agendamento criado com sucesso

  /transacoes:
    get:
      summary: Lista transações financeiras
      tags: [Financeiro]
      responses:
        '200':
          description: Histórico financeiro
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TransacaoFinanceira'

  /configuracoes/log_clientes:
    get:
      summary: Consulta sequencial de clientes
      tags: [Configuracoes]
      responses:
        '200':
          description: Documento de log de clientes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogClientes'

components:
  schemas:
    Usuario:
      type: object
      properties:
        id:
          type: string
          description: UID do usuario no Firebase Auth
        email:
          type: string
        email_normalizado:
          type: string
        tipo:
          type: string
          enum: [admin, cliente]
        aprovado:
          type: boolean
        ordem_criacao:
          type: integer
        ordem_criacao_em:
          type: string
          format: date-time

    PerfilCliente:
      type: object
      properties:
        uid:
          type: string
          description: UID do usuário no Firebase Auth
        cliente_nome:
          type: string
        nome_preferido:
          type: string
        whatsapp:
          type: string
        telefone_principal:
          type: string
        saldo_sessoes:
          type: integer
          default: 0
        data_nascimento:
          type: string
          format: date-time
        favoritos:
          type: array
          items:
            type: string
        endereco:
          type: string
        historico_medico:
          type: string
        alergias:
          type: string
        medicamentos:
          type: string
        cirurgias:
          type: string
        anamnese_ok:
          type: boolean

    Agendamento:
      type: object
      properties:
        idAgendamento:
          type: string
          readOnly: true
        idCliente:
          type: string
        dataHoraAgendamento:
          type: string
          format: date-time
        tipoAgendamento:
          type: string
          description: Tipo de serviço (ex: Massagem Relaxante)
        statusAgendamento:
          type: string
          enum: [pendente, aprovado, recusado, cancelado]
        motivoCancelamentoAgendamento:
          type: string
        listaEsperaAgendamento:
          type: array
          items:
            type: string
            description: UIDs de clientes na fila
        dataCriacaoAgendamento:
          type: string
          format: date-time
        nomeClienteSnapshot:
          type: string
          description: Nome do cliente no momento do agendamento (Histórico)
        telefoneClienteSnapshot:
          type: string
        avaliacaoAgendamento:
          type: integer
          minimum: 1
          maximum: 5
        comentarioAvaliacaoAgendamento:
          type: string
        cupomAplicadoAgendamento:
          type: string
        valorOriginalAgendamento:
          type: number
          format: double
        valorFinalAgendamento:
          type: number
          format: double

    TransacaoFinanceira:
      type: object
      properties:
        idTransacao:
          type: string
        idAgendamento:
          type: string
        idCliente:
          type: string
        valorBrutoTransacao:
          type: number
          format: double
        valorDescontoTransacao:
          type: number
          format: double
        valorLiquidoTransacao:
          type: number
          format: double
        metodoPagamentoTransacao:
          type: string
          enum: [pix, dinheiro, cartao, pacote]
        statusPagamentoTransacao:
          type: string
          enum: [pendente, pago, estornado]
        dataPagamentoTransacao:
          type: string
          format: date-time
        idUsuarioCriador:
          type: string

    LogClientes:
      type: object
      properties:
        sequencial_clientes:
          type: integer
        ultimo_horario_cadastro:
          type: string
          format: date-time
        atualizado_em:
          type: string
          format: date-time